body {
  background-color: black;
  text-align: center;
}
#song-list {
  text-align: center;
  width: auto;
  height: auto;
  background-color: white;
  box-shadow: 3px 2px 4px 2px pink;
  margin-top:1px;
  max-width: 1000px;
  
  
}
#song-details {
  text-align: center;
  height: auto;
  display: none;
}
data-lyrics {
  color: white;
}
input {
  margin-bottom: 30px;
  border: 5px solid white;
  z-index: 1000;
  border-radius: 5px;
  width: 200px;
}
button {
  margin-bottom: 1px;
  margin-top: 1px;
}
p {
  color: white;
}
h1 {
  color: yellow;
  text-shadow: 4px 4px  4px green;
  margin-top: 20px;
}
button:hover {
  color: green;
}
.nyimbo{
  width: 340px;
  height: 60px;
  background-color: pink;
  font-size: 15px;
  border-radius: 10px;
}
#top {
  background-color:black;
  background-image: url(MAUA.jpg);
  box-shadow: 3px 3px 3px red;
} 
#playlist {
  display: none;
  color:blue;
}
#favourite{
  display:none;
  color:red;
}
#navigation-bar {
  bottom: 0;
  width:100%;
  position: fixed;
  background-color: #1f1f1f;
  left: 0;
}
.change {
  padding: 10px ;
  margin:10px;
  bottom: 0;
}
